body {
    background-color: rgb(251, 249, 249);
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#user {
    height: 12vh;
    border-radius: 100%;
    margin-bottom: 20px;
}

form {
    max-width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgb(136, 133, 133);
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    width: 100%;
    text-align: center;
}
input {
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    font-size: 17px;
    padding: 10px;
    margin-bottom: 20px;
    height: 5vh;
    outline: none;
}


.login {
    width: 90%;
}
.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.eye {
    position: absolute;
    right: 10px;
    height: 4vh;
    margin-top: -13px;
    cursor: pointer;
}

button {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    background-color: deepskyblue;
    border-radius: 7px;
    border: none;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

button:hover {
    background-color: rgb(11, 170, 222);
}

a {
    color: deepskyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input:focus {
    border: 1px solid deepskyblue;
}
